<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Allure Test Suite">
    <test name="Allure Test">
        <classes>
            <class name="AllureTest.AllureTestFailurePath" />
            <class name="AllureTest.AllureTestHappyPath" />
        </classes>
    </test>
</suite>